body
  background-color #efefef

table
  width 100%
  border-collapse collapse

th
td
  padding 8px
  border 1px solid #ddd
  text-align left

//

.img-avatar
  display block
  size 40px
  margin 0 auto
  border-radius 50%
